<div style="margin: 0 auto; width: 1122px">
	<div class="borderBlack" style="height: 750px; width: 220px; float: left;">
		
	</div>

	<div class="noPadding" style="height: 100%; margin-left: 10px; margin-right: 10px; width: 660px; float: left;">
		<div class="col-sm-12 borderBlack" style="height: 100%; margin-bottom: 19px; padding-bottom: 10px">
			<p style="margin-bottom: 0px"><b>Our recommendations:</b></p>
			<ul style="list-style-type: none; padding: 0px; margin: 0px;">
				<% @partrecommendations.each do |recommendation| %>
					<li class="smallImgContainer" style="margin-right: 10px; height: 162px">
			      <a href="<%= device_product_category_part_path(recommendation.part.category.product.device.id, recommendation.part.category.product.id, recommendation.part.category.id, recommendation.part.id ) %>">
			      	<% if recommendation.part.partimagefull_file_name.nil? %>
			          <%= image_tag "missingSmall.png", class: "SmallImg borderGray" %>
			        <% else %>
				      	<%= image_tag recommendation.part.partimagefull.url(:small), class: "SmallImg borderGray" %>
				      <% end %>
				    </a><br>
				    <div style="width: 140px">
				      <small><b><a href="<%= device_product_category_part_path(recommendation.part.category.product.device.id, recommendation.part.category.product.id, recommendation.part.category.id, recommendation.part.id ) %>" title="<%= recommendation.part.name %>"><%= truncate(recommendation.part.name, length: 35) %></a></b></small><br>
				      <% if logged_in? %>
				      	<% if PartAction.find_by(part_id: recommendation.part_id).nil? %>
                  <small><b><%= number_to_currency(DiscountPrice.where(part_id: recommendation.part_id, amount: 1).first.price, unit: "€") %></b></small>
                <% else %>
                  <small><b><span class="background"><%= number_to_currency(DiscountPrice.where(part_id: recommendation.part_id, amount: 1).first.price, unit: "€") %></span></b></small>
                  <small><b><%= number_to_currency(PartAction.find_by(part_id: recommendation.part_id).price, unit: "€") %></b></small>
                <% end %>
				      <% end %>
				    </div>
		    	</li>
		    <% end %>	
	    </ul>
		</div>
		
		<div class="col-sm-12 borderBlack" style="height: 368px; margin-bottom: 0px;">
			
		</div>
	</div>

	<div class="borderBlack" style="height: 750px; width: 220px; float: left;">
		<div class="" style="width: 100%; height: 100%">
			<p style="margin-bottom: 0px; margin-left: 10px"><b>Populair products</b></p>
			<ul style="list-style-type: decimal; height: 100%">
				<% if @parts.length == 3 %>
					<% @parts.each do |part| %>
						<li class="smallImgContainer" style="height: 162px; margin-bottom: 10px">
							<div class="" style="height: 100%">
								<div style="width: 82%; float: left">
						      <a href="<%= device_product_category_part_path(part.category.product.device.id, part.category.product.id, part.category.id, part.id ) %>">
						      	<% if part.partimagefull_file_name.nil? %>
						          <%= image_tag "missingSmall.png", class: "SmallImg borderGray" %>
						        <% else %>
							      	<%= image_tag part.partimagefull.url(:small), class: "SmallImg borderGray" %>
							      <% end %>
							    </a><br>
							    <div style="width: 140px">
							      <small><b><a href="<%= device_product_category_part_path(part.category.product.device.id, part.category.product.id, part.category.id, part.id ) %>" title="<%= part.name %>"><%= truncate(part.name, length: 35) %></a></b></small><br>
							      <% if logged_in? %>
							      	<% if PartAction.find_by(part_id: part.id).nil? %>
			                  <small><b><%= number_to_currency(DiscountPrice.where(part_id: part.id, amount: 1).first.price, unit: "€") %></b></small>
			                <% else %>
			                  <small><b><span class="background"><%= number_to_currency(DiscountPrice.where(part_id: part.id, amount: 1).first.price, unit: "€") %></span></b></small>
			                  <small><b><%= number_to_currency(PartAction.find_by(part_id: part.id).price, unit: "€") %></b></small>
			                <% end %>
							      <% end %>
							    </div>
						    </div>
					    </div>
			    	</li>
			    <% end %>
			  <% elsif @parts.length == 2 %>
			  	<% @parts.each do |part| %>
						<li class="smallImgContainer" style="height: 162px; margin-bottom: 10px">
							<div class="" style="height: 100%">
								<div style="width: 82%; float: left">
						      <a href="<%= device_product_category_part_path(part.category.product.device.id, part.category.product.id, part.category.id, part.id ) %>">
						      	<% if part.partimagefull_file_name.nil? %>
						          <%= image_tag "missingSmall.png", class: "SmallImg borderGray" %>
						        <% else %>
							      	<%= image_tag part.partimagefull.url(:small), class: "SmallImg borderGray" %>
							      <% end %>
							    </a><br>
							    <div style="width: 140px">
							      <small><b><a href="<%= device_product_category_part_path(part.category.product.device.id, part.category.product.id, part.category.id, part.id ) %>" title="<%= part.name %>"><%= truncate(part.name, length: 35) %></a></b></small><br>
							      <% if logged_in? %>
							      	<% if PartAction.find_by(part_id: part.id).nil? %>
			                  <small><b><%= number_to_currency(DiscountPrice.where(part_id: part.id, amount: 1).first.price, unit: "€") %></b></small>
			                <% else %>
			                  <small><b><span class="background"><%= number_to_currency(DiscountPrice.where(part_id: part.id, amount: 1).first.price, unit: "€") %></span></b></small>
			                  <small><b><%= number_to_currency(PartAction.find_by(part_id: part.id).price, unit: "€") %></b></small>
			                <% end %>
							      <% end %>
							    </div>
						    </div>
					    </div>
			    	</li>
			    <% end %>
			    <% @partrecommendations.each do |recommendation| %> 
			    	<% break if @recommendation_count == 1 %>
			    	<% next if @part_ids.include?(recommendation.part_id) %>
			    	<li class="smallImgContainer" style="height: 162px; margin-bottom: 10px">
							<div class="" style="height: 100%">
								<div style="width: 82%; float: left">
						      <a href="<%= device_product_category_part_path(recommendation.part.category.product.device.id, recommendation.part.category.product.id, recommendation.part.category.id, recommendation.part.id ) %>">
						      	<% if recommendation.part.partimagefull_file_name.nil? %>
						          <%= image_tag "missingSmall.png", class: "SmallImg borderGray" %>
						        <% else %>
							      	<%= image_tag recommendation.part.partimagefull.url(:small), class: "SmallImg borderGray" %>
							      <% end %>
							    </a><br>
							    <div style="width: 140px">
							      <small><b><a href="<%= device_product_category_part_path(recommendation.part.category.product.device.id, recommendation.part.category.product.id, recommendation.part.category.id, recommendation.part.id ) %>" title="<%= recommendation.part.name %>"><%= truncate(recommendation.part.name, length: 35) %></a></b></small><br>
							      <% if logged_in? %>
							      	<% if PartAction.find_by(part_id: recommendation.part_id).nil? %>
			                  <small><b><%= number_to_currency(DiscountPrice.where(part_id: recommendation.part_id, amount: 1).first.price, unit: "€") %></b></small>
			                <% else %>
			                  <small><b><span class="background"><%= number_to_currency(DiscountPrice.where(part_id: recommendation.part_id, amount: 1).first.price, unit: "€") %></span></b></small>
			                  <small><b><%= number_to_currency(PartAction.find_by(part_id: recommendation.part_id).price, unit: "€") %></b></small>
			                <% end %>
							      <% end %>
							    </div>
						    </div>
					    </div>
			    	</li>
			    	<% @recommendation_count += 1 %>
			    <% end %>
			  <% elsif @parts.length == 1 %>
			  		<% @parts.each do |part| %>
						<li class="smallImgContainer" style="height: 162px; margin-bottom: 10px">
							<div class="" style="height: 100%">
								<div style="width: 82%; float: left">
						      <a href="<%= device_product_category_part_path(part.category.product.device.id, part.category.product.id, part.category.id, part.id ) %>">
						      	<% if part.partimagefull_file_name.nil? %>
						          <%= image_tag "missingSmall.png", class: "SmallImg borderGray" %>
						        <% else %>
							      	<%= image_tag part.partimagefull.url(:small), class: "SmallImg borderGray" %>
							      <% end %>
							    </a><br>
							    <div style="width: 140px">
							      <small><b><a href="<%= device_product_category_part_path(part.category.product.device.id, part.category.product.id, part.category.id, part.id ) %>" title="<%= part.name %>"><%= truncate(part.name, length: 35) %></a></b></small><br>
							      <% if logged_in? %>
							      	<% if PartAction.find_by(part_id: part.id).nil? %>
			                  <small><b><%= number_to_currency(DiscountPrice.where(part_id: part.id, amount: 1).first.price, unit: "€") %></b></small>
			                <% else %>
			                  <small><b><span class="background"><%= number_to_currency(DiscountPrice.where(part_id: part.id, amount: 1).first.price, unit: "€") %></span></b></small>
			                  <small><b><%= number_to_currency(PartAction.find_by(part_id: part.id).price, unit: "€") %></b></small>
			                <% end %>
							      <% end %>
							    </div>
						    </div>
					    </div>
			    	</li>
			    <% end %>
			    <% @partrecommendations.each do |recommendation| %> 
			    	<% break if @recommendation_count == 2 %>
			    	<% next if @part_ids.include?(recommendation.part_id) %>
			    	<li class="smallImgContainer" style="height: 162px; margin-bottom: 10px">
							<div class="" style="height: 100%">
								<div style="width: 82%; float: left">
						      <a href="<%= device_product_category_part_path(recommendation.part.category.product.device.id, recommendation.part.category.product.id, recommendation.part.category.id, recommendation.part.id ) %>">
						      	<% if recommendation.part.partimagefull_file_name.nil? %>
						          <%= image_tag "missingSmall.png", class: "SmallImg borderGray" %>
						        <% else %>
							      	<%= image_tag recommendation.part.partimagefull.url(:small), class: "SmallImg borderGray" %>
							      <% end %>
							    </a><br>
							    <div style="width: 140px">
							      <small><b><a href="<%= device_product_category_part_path(recommendation.part.category.product.device.id, recommendation.part.category.product.id, recommendation.part.category.id, recommendation.part.id ) %>" title="<%= recommendation.part.name %>"><%= truncate(recommendation.part.name, length: 35) %></a></b></small><br>
							      <% if logged_in? %>
							      	<% if PartAction.find_by(part_id: recommendation.part_id).nil? %>
			                  <small><b><%= number_to_currency(DiscountPrice.where(part_id: recommendation.part_id, amount: 1).first.price, unit: "€") %></b></small>
			                <% else %>
			                  <small><b><span class="background"><%= number_to_currency(DiscountPrice.where(part_id: recommendation.part_id, amount: 1).first.price, unit: "€") %></span></b></small>
			                  <small><b><%= number_to_currency(PartAction.find_by(part_id: recommendation.part_id).price, unit: "€") %></b></small>
			                <% end %>
							      <% end %>
							    </div>
						    </div>
					    </div>
			    	</li>
			    	<% @recommendation_count += 1 %>
			    <% end %>
			  <% elsif @parts.length == 0 %>
			    <% @partrecommendations.each do |recommendation| %> 
			    	<% break if @recommendation_count == 3 %>
			    	<% next if @part_ids.include?(recommendation.part_id) %>
			    	<li class="smallImgContainer" style="height: 162px; margin-bottom: 10px">
							<div class="" style="height: 100%">
								<div style="width: 82%; float: left">
						      <a href="<%= device_product_category_part_path(recommendation.part.category.product.device.id, recommendation.part.category.product.id, recommendation.part.category.id, recommendation.part.id ) %>">
						      	<% if recommendation.part.partimagefull_file_name.nil? %>
						          <%= image_tag "missingSmall.png", class: "SmallImg borderGray" %>
						        <% else %>
							      	<%= image_tag recommendation.part.partimagefull.url(:small), class: "SmallImg borderGray" %>
							      <% end %>
							    </a><br>
							    <div style="width: 140px">
							      <small><b><a href="<%= device_product_category_part_path(recommendation.part.category.product.device.id, recommendation.part.category.product.id, recommendation.part.category.id, recommendation.part.id ) %>" title="<%= recommendation.part.name %>"><%= truncate(recommendation.part.name, length: 35) %></a></b></small><br>
							      <% if logged_in? %>
							      	<% if PartAction.find_by(part_id: recommendation.part_id).nil? %>
			                  <small><b><%= number_to_currency(DiscountPrice.where(part_id: recommendation.part_id, amount: 1).first.price, unit: "€") %></b></small>
			                <% else %>
			                  <small><b><span class="background"><%= number_to_currency(DiscountPrice.where(part_id: recommendation.part_id, amount: 1).first.price, unit: "€") %></span></b></small>
			                  <small><b><%= number_to_currency(PartAction.find_by(part_id: recommendation.part_id).price, unit: "€") %></b></small>
			                <% end %>
							      <% end %>
							    </div>
						    </div>
					    </div>
			    	</li>
			    	<% @recommendation_count += 1 %>
			    <% end %>  
			  <% end %>	
	    </ul>
		</div>
		<div style="clear: both;"></div> 
	</div>
</div>

<div style="clear: both;"></div> 

<%= render 'layouts/footer' %>