<div class="homeContainer">
	<div class="borderBlack homeSide">
		
	</div>

	<div class="noPadding homeMiddle">
		<% if @part_actions.any? %>
			<div class="col-sm-12 borderBlack noPadding homeAction">
				<a class="inline-block" href=<%= device_product_category_part_path(@part_actions.first.part.category.product.device.id, @part_actions.first.part.category.product.id, @part_actions.first.part.category.id, @part_actions.first.part.id) %>>
	        <%= image_tag @part_actions.first.actionimage.url(:large) %>
	      </a>
			</div>
		<% end %>

		<div class="col-sm-12 borderBlack homeRecommendations">
			<p class="bottom-none"><b>Our recommendations:</b></p>
			<ul class="homeRecommendedList">
				<% @partrecommendations.each do |recommendation| %>
					<li class="smallImgContainer homeImageContainer">
			      <a href="<%= device_product_category_part_path(recommendation.part.category.product.device.id, recommendation.part.category.product.id, recommendation.part.category.id, recommendation.part.id ) %>">
			      	<% if recommendation.part.partimagefull_file_name.nil? %>
			          <%= image_tag "missingSmall.png", class: "SmallImg borderGray" %>
			        <% else %>
				      	<%= image_tag recommendation.part.partimagefull.url(:small), class: "SmallImg borderGray" %>
				      <% end %>
				    </a><br>
				    <div class="width140px">
				      <small><b><a href="<%= device_product_category_part_path(recommendation.part.category.product.device.id, recommendation.part.category.product.id, recommendation.part.category.id, recommendation.part.id ) %>" title="<%= recommendation.part.name %>"><%= truncate(recommendation.part.name, length: 35) %></a></b></small><br>
				      <% if logged_in? %>
				      	<% if PartAction.find_by(part_id: recommendation.part_id).nil? %>
                  <small><b><%= number_to_currency(DiscountPrice.where(part_id: recommendation.part_id, amount: 1).first.price, unit: "€") %></b></small>
                <% else %>
                  <small><b><span class="background"><%= number_to_currency(DiscountPrice.where(part_id: recommendation.part_id, amount: 1).first.price, unit: "€") %></span></b></small>
                  <small><b><%= number_to_currency(PartAction.find_by(part_id: recommendation.part_id).price, unit: "€") %></b></small>
                <% end %>
				      <% end %>
				    </div>
		    	</li>
		    <% end %>	
	    </ul>
		</div>
	</div>

	<div class="borderBlack homeSide">
		<div class="maxWidth maxHeight">
			<p class="bottom-none left-10"><b>Populair products</b></p>
			<ul class="homePopulairList">
				<% if @parts.length == 3 %>
					<% @parts.each do |part| %>
						<li class="smallImgContainer homeImageContainer">
							<div class="maxHeight">
								<div class="homePopulairImage">
						      <a href="<%= device_product_category_part_path(part.category.product.device.id, part.category.product.id, part.category.id, part.id ) %>">
						      	<% if part.partimagefull_file_name.nil? %>
						          <%= image_tag "missingSmall.png", class: "SmallImg borderGray" %>
						        <% else %>
							      	<%= image_tag part.partimagefull.url(:small), class: "SmallImg borderGray" %>
							      <% end %>
							    </a><br>
							    <div class="width140px">
							      <small><b><a href="<%= device_product_category_part_path(part.category.product.device.id, part.category.product.id, part.category.id, part.id ) %>" title="<%= part.name %>"><%= truncate(part.name, length: 35) %></a></b></small><br>
							      <% if logged_in? %>
							      	<% if PartAction.find_by(part_id: part.id).nil? %>
			                  <small><b><%= number_to_currency(DiscountPrice.where(part_id: part.id, amount: 1).first.price, unit: "€") %></b></small>
			                <% else %>
			                  <small><b><span class="background"><%= number_to_currency(DiscountPrice.where(part_id: part.id, amount: 1).first.price, unit: "€") %></span></b></small>
			                  <small><b><%= number_to_currency(PartAction.find_by(part_id: part.id).price, unit: "€") %></b></small>
			                <% end %>
							      <% end %>
							    </div>
						    </div>
					    </div>
			    	</li>
			    <% end %>
			  <% elsif @parts.length == 2 %>
			  	<% @parts.each do |part| %>
						<li class="smallImgContainer homeImageContainer">
							<div class="maxHeight">
								<div class="homePopulairImage">
						      <a href="<%= device_product_category_part_path(part.category.product.device.id, part.category.product.id, part.category.id, part.id ) %>">
						      	<% if part.partimagefull_file_name.nil? %>
						          <%= image_tag "missingSmall.png", class: "SmallImg borderGray" %>
						        <% else %>
							      	<%= image_tag part.partimagefull.url(:small), class: "SmallImg borderGray" %>
							      <% end %>
							    </a><br>
							    <div class="width140px">
							      <small><b><a href="<%= device_product_category_part_path(part.category.product.device.id, part.category.product.id, part.category.id, part.id ) %>" title="<%= part.name %>"><%= truncate(part.name, length: 35) %></a></b></small><br>
							      <% if logged_in? %>
							      	<% if PartAction.find_by(part_id: part.id).nil? %>
			                  <small><b><%= number_to_currency(DiscountPrice.where(part_id: part.id, amount: 1).first.price, unit: "€") %></b></small>
			                <% else %>
			                  <small><b><span class="background"><%= number_to_currency(DiscountPrice.where(part_id: part.id, amount: 1).first.price, unit: "€") %></span></b></small>
			                  <small><b><%= number_to_currency(PartAction.find_by(part_id: part.id).price, unit: "€") %></b></small>
			                <% end %>
							      <% end %>
							    </div>
						    </div>
					    </div>
			    	</li>
			    <% end %>
			    <% @partrecommendations.each do |recommendation| %> 
			    	<% break if @recommendation_count == 1 %>
			    	<% next if @part_ids.include?(recommendation.part_id) %>
			    	<li class="smallImgContainer homeImageContainer">
							<div class="maxHeight">
								<div class="homePopulairImage">
						      <a href="<%= device_product_category_part_path(recommendation.part.category.product.device.id, recommendation.part.category.product.id, recommendation.part.category.id, recommendation.part.id ) %>">
						      	<% if recommendation.part.partimagefull_file_name.nil? %>
						          <%= image_tag "missingSmall.png", class: "SmallImg borderGray" %>
						        <% else %>
							      	<%= image_tag recommendation.part.partimagefull.url(:small), class: "SmallImg borderGray" %>
							      <% end %>
							    </a><br>
							    <div class="width140px">
							      <small><b><a href="<%= device_product_category_part_path(recommendation.part.category.product.device.id, recommendation.part.category.product.id, recommendation.part.category.id, recommendation.part.id ) %>" title="<%= recommendation.part.name %>"><%= truncate(recommendation.part.name, length: 35) %></a></b></small><br>
							      <% if logged_in? %>
							      	<% if PartAction.find_by(part_id: recommendation.part_id).nil? %>
			                  <small><b><%= number_to_currency(DiscountPrice.where(part_id: recommendation.part_id, amount: 1).first.price, unit: "€") %></b></small>
			                <% else %>
			                  <small><b><span class="background"><%= number_to_currency(DiscountPrice.where(part_id: recommendation.part_id, amount: 1).first.price, unit: "€") %></span></b></small>
			                  <small><b><%= number_to_currency(PartAction.find_by(part_id: recommendation.part_id).price, unit: "€") %></b></small>
			                <% end %>
							      <% end %>
							    </div>
						    </div>
					    </div>
			    	</li>
			    	<% @recommendation_count += 1 %>
			    <% end %>
			  <% elsif @parts.length == 1 %>
			  		<% @parts.each do |part| %>
						<li class="smallImgContainer homeImageContainer">
							<div class="maxHeight">
								<div class="homePopulairImage">
						      <a href="<%= device_product_category_part_path(part.category.product.device.id, part.category.product.id, part.category.id, part.id ) %>">
						      	<% if part.partimagefull_file_name.nil? %>
						          <%= image_tag "missingSmall.png", class: "SmallImg borderGray" %>
						        <% else %>
							      	<%= image_tag part.partimagefull.url(:small), class: "SmallImg borderGray" %>
							      <% end %>
							    </a><br>
							    <div class="width140px">
							      <small><b><a href="<%= device_product_category_part_path(part.category.product.device.id, part.category.product.id, part.category.id, part.id ) %>" title="<%= part.name %>"><%= truncate(part.name, length: 35) %></a></b></small><br>
							      <% if logged_in? %>
							      	<% if PartAction.find_by(part_id: part.id).nil? %>
			                  <small><b><%= number_to_currency(DiscountPrice.where(part_id: part.id, amount: 1).first.price, unit: "€") %></b></small>
			                <% else %>
			                  <small><b><span class="background"><%= number_to_currency(DiscountPrice.where(part_id: part.id, amount: 1).first.price, unit: "€") %></span></b></small>
			                  <small><b><%= number_to_currency(PartAction.find_by(part_id: part.id).price, unit: "€") %></b></small>
			                <% end %>
							      <% end %>
							    </div>
						    </div>
					    </div>
			    	</li>
			    <% end %>
			    <% @partrecommendations.each do |recommendation| %> 
			    	<% break if @recommendation_count == 2 %>
			    	<% next if @part_ids.include?(recommendation.part_id) %>
			    	<li class="smallImgContainer homeImageContainer">
							<div class="maxHeight">
								<div class="homePopulairImage">
						      <a href="<%= device_product_category_part_path(recommendation.part.category.product.device.id, recommendation.part.category.product.id, recommendation.part.category.id, recommendation.part.id ) %>">
						      	<% if recommendation.part.partimagefull_file_name.nil? %>
						          <%= image_tag "missingSmall.png", class: "SmallImg borderGray" %>
						        <% else %>
							      	<%= image_tag recommendation.part.partimagefull.url(:small), class: "SmallImg borderGray" %>
							      <% end %>
							    </a><br>
							    <div class="width140px">
							      <small><b><a href="<%= device_product_category_part_path(recommendation.part.category.product.device.id, recommendation.part.category.product.id, recommendation.part.category.id, recommendation.part.id ) %>" title="<%= recommendation.part.name %>"><%= truncate(recommendation.part.name, length: 35) %></a></b></small><br>
							      <% if logged_in? %>
							      	<% if PartAction.find_by(part_id: recommendation.part_id).nil? %>
			                  <small><b><%= number_to_currency(DiscountPrice.where(part_id: recommendation.part_id, amount: 1).first.price, unit: "€") %></b></small>
			                <% else %>
			                  <small><b><span class="background"><%= number_to_currency(DiscountPrice.where(part_id: recommendation.part_id, amount: 1).first.price, unit: "€") %></span></b></small>
			                  <small><b><%= number_to_currency(PartAction.find_by(part_id: recommendation.part_id).price, unit: "€") %></b></small>
			                <% end %>
							      <% end %>
							    </div>
						    </div>
					    </div>
			    	</li>
			    	<% @recommendation_count += 1 %>
			    <% end %>
			  <% elsif @parts.length == 0 %>
			    <% @partrecommendations.each do |recommendation| %> 
			    	<% break if @recommendation_count == 3 %>
			    	<% next if @part_ids.include?(recommendation.part_id) %>
			    	<li class="smallImgContainer homeImageContainer">
							<div class="maxHeight">
								<div class="homePopulairImage">
						      <a href="<%= device_product_category_part_path(recommendation.part.category.product.device.id, recommendation.part.category.product.id, recommendation.part.category.id, recommendation.part.id ) %>">
						      	<% if recommendation.part.partimagefull_file_name.nil? %>
						          <%= image_tag "missingSmall.png", class: "SmallImg borderGray" %>
						        <% else %>
							      	<%= image_tag recommendation.part.partimagefull.url(:small), class: "SmallImg borderGray" %>
							      <% end %>
							    </a><br>
							    <div class="width140px">
							      <small><b><a href="<%= device_product_category_part_path(recommendation.part.category.product.device.id, recommendation.part.category.product.id, recommendation.part.category.id, recommendation.part.id ) %>" title="<%= recommendation.part.name %>"><%= truncate(recommendation.part.name, length: 35) %></a></b></small><br>
							      <% if logged_in? %>
							      	<% if PartAction.find_by(part_id: recommendation.part_id).nil? %>
			                  <small><b><%= number_to_currency(DiscountPrice.where(part_id: recommendation.part_id, amount: 1).first.price, unit: "€") %></b></small>
			                <% else %>
			                  <small><b><span class="background"><%= number_to_currency(DiscountPrice.where(part_id: recommendation.part_id, amount: 1).first.price, unit: "€") %></span></b></small>
			                  <small><b><%= number_to_currency(PartAction.find_by(part_id: recommendation.part_id).price, unit: "€") %></b></small>
			                <% end %>
							      <% end %>
							    </div>
						    </div>
					    </div>
			    	</li>
			    	<% @recommendation_count += 1 %>
			    <% end %>  
			  <% end %>	
	    </ul>
		</div>
		<div style="clear: both;"></div> 
	</div>
</div>

<div style="clear: both;"></div> 

<%= render 'layouts/footer' %>