<% if PartStock.where(part_id: part_product.part_id).sum('stock') > 0 %>
  <%= button_tag( :href => "#", :type => "button",:class => "btn btn-primary small", :title => "Add to cart", :data => { :toggle => "modal", :target => "#add-to-cart-" + part_product.part.id.to_s}) do %>
    <span class="glyphicon glyphicon-shopping-cart"></span>   Add to Cart
  <% end %>
<% else %>
  <%= button_tag( :href => "#", :type => "button", :class => "btn btn-danger small cursorDisabled", :disabled => "disabled", :title => "Out of stock") do %>
    <span class="glyphicon glyphicon-shopping-cart"></span>   Add to Cart
  <% end %>
<% end %>
<div id="add-to-cart-<%= part_product.part.id %>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel-part-<%= part_product.part.id %>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= bootstrap_form_for @cart_item, :url => user_cart_cart_items_path(current_user, Cart.where(user_id: current_user.id, purchased: false).first.id), :html => { :class => 'form-horizontal' } do |f| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title left" id="modalLabel-part-<%= part_product.part.id %>">Add to cart</h4>
        </div>
        <div class="modal-body">
          <div class="col-sm-12 table-responsive">
            <table class="table borderGray">
              <thead>
                <th colspan="2">Description</th>
                <th>Amount</th>
              </thead>
              <tbody>
                <tr>
                  <td style="width: 2%;">
                    <%= image_tag part_product.part.partimagefull.url(:thumb), class: "borderGray" %>
                  </td>
                  <td class="left" style="max-width: 250px">
                    <div class="title">
                      <b><%= part_product.part.name %></b>
                    </div>
                    <table>
                      <tbody>
                        <tr>
                          <td><small>Brand: </small></td>
                          <td><small><%= part_product.part.brand %></small></td>
                        </tr>
                        <tr>
                          <td class="paddingR20"><small>Condition: </small></td>
                          <td><small><%= part_product.part.condition %></small></td>
                        </tr>
                        <tr>
                          <td><small>Warranty: </small></td>
                          <td><small><%= part_product.part.warranty %></small></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td>
                    <%= f.number_field :amount, min: 1, max: PartStock.where(part_id: part_product.part_id).sum('stock'), :value => 1, :class => "smallNumber", :hide_label => true, required: 'required' %>        
                  </td>    
                </tr>
              </tbody>
            </table>
          </div>
          <%= f.hidden_field :cart_id, :value => Cart.where(user_id: current_user.id, purchased: false).first.id %>
          <%= f.hidden_field :part_id, :value => part_product.part.id %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= "Close" %></button>
          <%= button_tag( :class => "btn btn-primary small") do %>
            <span class="glyphicon glyphicon-shopping-cart"></span>   Add to Cart
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>