<% provide(:title, 'Edit part') %>
<% breadcrumb :parts, @parts %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= bootstrap_form_for(@part, url: device_product_category_part_path(params[:device_id], params[:product_id], params[:category_id], params[:id])) do |f| %>
      <%= f.alert_message "Please fix the errors below." %>

      <%= f.text_field    :name, autofocus: true %>
      <%= f.text_field    :partnumber %>
      <%= f.select(:brand_select, options_for_select(Part.order('brand').uniq.pluck(:brand).collect { |condition| [condition] }, @part.brand), { include_blank: "Select an existing brand", label: 'Brand <small>Either select an existing brand or create a new one</small>'.html_safe}) %>
      <%= f.text_field    :brand, value: nil, hide_label: true %>
      <%= f.select(:condition_select, options_for_select(Part.order('condition').uniq.pluck(:condition).collect { |condition| [condition] }, @part.condition), { include_blank: "Select an existing condition", label: 'Condition <small>Either select an existing condition or create a new one</small>'.html_safe}) %>
      <%= f.text_field    :condition, value: nil, hide_label: true %>
      <%= f.text_field    :warranty %>
      <%= f.text_field    :weight, label: "Weight in grams" %>
      <%= f.file_field    :partimagefull, class: "big", label: "Placeholder image" %>

      <%= f.submit "Edit part", class: "btn btn-primary" %>
      <%= link_to("Cancel", device_product_category_parts_path(params[:device_id], params[:product_id], params[:category_id]), class: "btn btn-primary") %>
    <% end %>
  </div>
</div>