<% provide(:title, "Parts") %>
<% breadcrumb :parts, @parts_products %>
<div class="panel-body panel-table">
    
  <% if @part_amount == 0 %>
    <p class="empty_list">
      <%= "There are no parts this category" %>
    </p>
  <% else %>
    <div class="table-responsive">
      <table class="table table-hover borderGray">
        <thead>
          <tr>
            <th><%= "Description" %></th>
            <th></th>
            <% if logged_in? %>
              <th></th>
              <th class="center">Stock</th>
              <th class="center">Price</th>
              <th></th>
              <% if current_user.manager? %>
                <th class="small-col"></th>
                <th class="small-col"></th>
                <th class="small-col"></th>
                <th class="small-col"></th>
                <th class="small-col"></th>
                <th class="small-col"></th>
                <th class="small-col"></th>
              <% end %>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @parts_products.each do |part_product| %>
            <% if part_product.part.category_id == params[:category_id].to_i %>
              <tr>
                <td class="col-lg-4 col-md-5">
                  <div class="title">
                    <%= link_to device_product_category_part_path(params[:device_id], params[:product_id], params[:category_id], part_product.part) do %>
                      <b><%= part_product.part.name %></b>
                    <% end %>
                  </div>
                  <table>
                    <tbody>
                      <tr>
                        <td><small>Brand: </small></td>
                        <td><small><%= part_product.part.brand %></small></td>
                      </tr>
                      <tr>
                        <td class="paddingR20"><small>Condition: </small></td>
                        <td><small><%= part_product.part.condition %></small></td>
                      </tr>
                      <tr>
                        <td><small>Warranty: </small></td>
                        <td><small><%= part_product.part.warranty.blank? ? 'None' : part_product.part.warranty %></small></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td>
                  <a 
                    <% if !part_product.part.partimagefull_file_name.nil? %> 
                      href=<%= part_product.part.partimagefull.url %>
                    <% end %>
                  >
                    <div class="col-md-6 width66px noPadding">
                      <%= image_tag part_product.part.partimagefull.url(:thumb), class: "borderGray" %>
                      <% if !part_product.part.partimagefull_file_name.nil? %>
                        <div class="bottomRight"><span class="glyphicon glyphicon-search"></span></div>
                      <% end %>
                    </div>
                  </a>
                </td>
                <% if logged_in? %>
                  <td>
                    <%= render partial: "tell_a_friend_modal", locals: { part_product: part_product } %>
                  </td>
                  <% if PartStock.where(part_id: part_product.part_id).sum('stock') == 0 %>
                    <td class="center">
                      <p class="red bottom-none">Out of stock</p>
                      <%= bootstrap_form_for @reminder, url: user_reminders_path(current_user), html: { class: 'form-horizontal' } do |f| %>
                        <%= f.hidden_field :part_id, value: part_product.part.id %>
                        <%= f.hidden_field :user_id, value: current_user.id %>

                        <%= f.submit "Remind me", class: 'btn btn-link btn-xs', style: 'padding: 4px; width: auto;', title: 'Sends you an email when the product is back in stock' %>
                      <% end %>
                    </td>
                  <% else %>
                    
                    <td class="center"><%= PartStock.where(part_id: part_product.part_id).sum('stock') %></td>
                  <% end %>
                  <td class="center">
                    <%= number_to_currency(DiscountPrice.where(part_id: part_product.part, amount: 1).first.price, unit: "€") %><br>
                    <small style="font-size: 9px;">Excl 21% VAT</small>
                  </td>
                  <td class="center">
                    <%= render partial: "cart_modal", locals: { part_product: part_product } %>
                  </td>
                  <% if current_user.manager? %>
                    <td>
                      <%= link_to device_product_category_part_part_stocks_path(params[:device_id], params[:product_id], params[:category_id], part_product.part) do %>
                        <span class="glyphicon glyphicon-gift" title="Stock"></span>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to device_product_category_part_discount_prices_path(params[:device_id], params[:product_id], params[:category_id], part_product.part) do %>
                        <span class="glyphicon glyphicon-euro" title="Prices"></span>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to device_product_category_part_parts_products_path(params[:device_id], params[:product_id], params[:category_id], part_product.part) do %>
                        <span class="glyphicon glyphicon-sort" title="Connections"></span>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to device_product_category_part_partdescriptions_path(params[:device_id], params[:product_id], params[:category_id], part_product.part) do %>
                        <span class="glyphicon glyphicon-text-color" title="Descriptions"></span>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to device_product_category_part_partimages_path(params[:device_id], params[:product_id], params[:category_id], part_product.part.id) do %>
                        <span class="glyphicon glyphicon-picture" title="Images"></span>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to edit_device_product_category_part_path(params[:device_id], params[:product_id], params[:category_id], part_product.part.id) do %>
                        <span class="glyphicon glyphicon-pencil" title="Edit"></span>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to device_product_category_part_path(params[:device_id], params[:product_id], params[:category_id], part_product.part.id), data: { confirm: "Are you sure?" }, method: :delete do %>
                        <span class="glyphicon glyphicon-remove" title="Delete"></span>
                      <% end %>
                    </td>
                  <% end %>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
<div class="panel-footer noPadding">
  <% unless (paginate @parts_products).blank? %>
    <%= paginate @parts_products %><br>
  <% end %>
  <% if logged_in? && current_user.manager? %>
    <%= link_to("Add part", new_device_product_category_part_path, class: 'btn btn-mini btn-primary') %>
  <% end %>
</div>
<% if flash[:item_added] %>
  <%= render partial: "cart_show_modal", locals: { cart: @cart, cart_items: @cart_items} %>
<% end %>
  
