<% provide(:title, "Parts") %>
  <% breadcrumb :parts, @parts %>
  <div class="panel-body panel-table">
    
    <% if @parts.length == 0 %>
      <p class="empty_list">
        <%= "De lijst is leeg" %>
      </p>
    <% else %>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th><%= "Description" %></th>
              <th></th>
              <th><%= "Stock" %></th>
              <th><%= "Price" %></th>
              <% if current_user.manager? %>
                <th class="small-col"></th>
                <th class="small-col"></th>
                <th class="small-col"></th>
                <th class="small-col"></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @parts.each do |part| %>
              <tr>
                <td class="col-lg-4 col-md-5">
                  <div class="title">
                    <%= link_to device_product_category_part_path(params[:device_id], params[:product_id], params[:category_id], part) do %>
                      <b><%= part.name %></b>
                    <% end %>
                  </div>
                  <table>
                    <tbody>
                      <tr>
                        <td><small>Brand: </small></td>
                        <td><small><%= part.brand %></small></td>
                      </tr>
                      <tr>
                        <td style="padding-right: 20px;"><small>Condition: </small></td>
                        <td><small><%= part.condition %></small></td>
                      </tr>
                      <tr>
                        <td><small>Warranty: </small></td>
                        <td><small><%= part.warranty %></small></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td>
                  <%= link_to device_product_category_part_path(params[:device_id], params[:product_id], params[:category_id], part) do %>
                    <%= image_tag part.partimagefull.url(:thumb) %>
                  <% end %>
                </td>
                <% if part.stock == 0 %>
                  <td><p style="color: red"><%= "Out of stock" %><p></td>
                <% else %>
                  <td><%= part.stock %></td>
                <% end %>
                <td><%= number_to_currency(part.price_ex, unit: "€") %></td>
                <% if current_user.manager? %>
                  <td>
                    <%= link_to device_product_category_part_partdescriptions_path(params[:device_id], params[:product_id], params[:category_id], part) do %>
                      <span class="glyphicon glyphicon-text-color"></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to device_product_category_part_partimages_path(params[:device_id], params[:product_id], params[:category_id], part.id) do %>
                      <span class="glyphicon glyphicon-picture"></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_device_product_category_part_path(params[:device_id], params[:product_id], params[:category_id], part.id) do %>
                      <span class="glyphicon glyphicon-pencil"></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to device_product_category_part_path(params[:device_id], params[:product_id], params[:category_id], part.id), :data => { :confirm => "Are you sure?" }, :method => :delete do %>
                      <span class="glyphicon glyphicon-remove"></span>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
  <div class="panel-footer">
    <% if current_user.manager? %>
      <%= link_to("Add part", new_device_product_category_part_path, :class => 'btn btn-mini btn-primary') %>
    <% end %>
    <%= link_to("Back", device_product_categories_path(params[:device_id], params[:product_id]), class: "btn btn-primary") %>
  </div>
