<% provide(:title, "Parts") %>
<h2>Parts</h2>
  <div class="panel-body panel-table">
    <% if @parts.length == 0 %>
      <p class="empty_list">
        <%= "De lijst is leeg" %>
      </p>
    <% else %>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th><%= "Category id" %></th>
              <th><%= "Category name" %></th>
              <th><%= "Name" %></th>
              <th class="small-col"></th>
              <th class="small-col"></th>
              <th class="small-col"></th>
            </tr>
          </thead>
          <tbody>
            <% @parts.each do |part| %>
              <tr>
                <td><%= part.category_id %></td>
                <td><%= part.category.name %></td>
                <td><%= part.name %></td>
                <td>
                  <%= link_to device_product_category_part_partdescriptions_path(params[:device_id], params[:product_id], params[:category_id], part) do %>
                    <span class="glyphicon glyphicon-search"></span>
                  <% end %>
                </td>
                <td>
                  <%= link_to edit_device_product_category_part_path(params[:device_id], params[:product_id], params[:category_id], part.id) do %>
                    <span class="glyphicon glyphicon-pencil"></span>
                  <% end %>
                </td>
                <td>
                  <%= link_to device_product_category_part_path(params[:device_id], params[:product_id], params[:category_id], part.id), :data => { :confirm => "Are you sure?" }, :method => :delete do %>
                    <span class="glyphicon glyphicon-remove"></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
    <%= link_to("Add part", new_device_product_category_part_path, :class => 'btn btn-mini btn-primary') %>
  </div>
