<% provide(:title, 'New part') %>
<% breadcrumb :parts, @parts %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= bootstrap_form_for(@part, :url => device_product_category_parts_path(params[:device_id], params[:product_id], params[:category_id])) do |f| %>
      <%= f.alert_message "Please fix the errors below." %>
      
      <%= f.text_field    :name %>
      <%= f.text_field    :brand %>
      <%= f.text_field    :condition %>
      <%= f.text_field    :warranty %>
      <%= f.text_field    :weight, label: "Weight in grams" %>
      <%= f.number_field  :stock, :value => 0, min: 0 %>
      <%= f.text_field    :price_ex, prepend: '€', placeholder: '0.00' %>
      <%= f.file_field    :partimagefull, class: "big", label: "Placeholder image" %>

      <%= f.submit "Add part", class: "btn btn-primary" %>
      <%= link_to("Cancel", device_product_category_parts_path(params[:device_id], params[:product_id], params[:category_id]), class: "btn btn-primary") %>
    <% end %>
  </div>
</div>