<% provide(:title, "Recommendations") %>
<%# breadcrumb :recommendations, @partrecommendations %>
<div class="panel-body panel-table">
  <% if @partrecommendations.length == 0 %>
    <p class="empty_list">There are no recommendations</p>
  <% else %>
    <div class="table-responsive col-md-6 col-md-offset-3">
      <table class="table table-hover borderGray">
        <thead>
          <tr>
            <th><b>Name</b></th>
            <th></th>
            <th><b>Created at</b></th>
            <th class="small-col"></th>
          </tr>
        </thead>
        <tbody>
          <% @partrecommendations.each do |recommendation| %>
            <tr>
              <td><%= truncate(recommendation.part.name, length: 50) %></td>
              <td>
                <div class="col-md-6 width66px noPadding">
                  <%= image_tag recommendation.part.partimagefull.url(:thumb), class: "borderGray" %>
                </div>
              </td>
              <td><%= recommendation.created_at.localtime.strftime("%Y-%m-%d %H:%M:%S") %></td>
              <td>
                <%= link_to part_recommendation_path(recommendation), data: { confirm: "Are you sure?" }, method: :delete do %>
                  <span class="glyphicon glyphicon-remove" title="Delete"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %> 
</div>
<div class="panel-footer noPadding">
  <div class="col-md-6 col-md-offset-3">
    <% unless (paginate @partrecommendations).blank? %>
      <%= paginate @partrecommendations %><br>
    <% end %>
  </div>
</div>
