<% provide(:title, "Invoice") %>
<% breadcrumb :invoice, @invoice %>

<div class="well well-large col-sm-8 col-sm-offset-2">
  <div class="row">
    <div class="col-xs-6 col-md-4 col-md-offset-2">
      <strong>Sender</strong>
      <p>
        TVA Service Center<br>
		    Twentelaan 2<br>
		    7609 RE Almelo<br>
		    Netherlands<br>
		    +31 546 851212
      </p>
    </div>
    <div class="col-xs-6 col-md-4 col-md-offset-2">
      <strong>Addressee</strong>
      <p>
        <%= @user.name %><br>
		    <%= @user.street %><br>
		    <%= @user.postal_code + " " + @user.city %><br>
        <%= @country.name %><br>
		    <%= @user.phone_number %>
      </p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-4">
      <dl class="dl-horizontal dl-misc">
        <dt>Date</dt>
        <dd><%= @invoice.created_at.localtime.to_date %></dd>
      </dl>
    </div>
  </div>

  <hr>

  <div class="row">
    <table class="table">
        <thead>
          <tr>
            <th>Type</th>
            <% if params[:type] != "slip" %>
              <th>Price</th>
              <% if !@cart.coupon_code.blank? %>
                <th>Discounted price</th>
              <% end %>
              <th>Amount</th>
            <% end %>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
        <% if params[:type] == "slip" %>
          <% @cart_items.each do |item| %>
            <tr>
              <td><%= item.part.name %></td>
              <td><%= item.amount.to_s + "x" %></td>
            </tr>
          <% end %>
        <% else %>
          <% @cart_items.each do |item| %>
            <tr>
              <td class="width40"><%= item.part.name %></td>
              <td class="width15"><%= number_to_currency(item.price, unit: '€') %></td>
              <% if !@cart.coupon_code.blank? %>
                <% if !item.price_sale.blank? %>
                  <td class="width15"><%= number_to_currency(item.price_sale, unit: '€') %></td>
                <% else %>
                  <td>N/A</td>
                <% end %>
              <% end %>
              <td class="width15"><%= item.amount.to_s + "x" %></td>
              <td class="width15"><%= number_to_currency((item.price_sale || item.price) * item.amount, unit: '€') %></td>
            </tr>
          <% end %>
        <% end %>
        <tr>
          <td colspan="5" style="height: 38px;"></td>
        </tr>
          <% if params[:type] != "slip" %>
            <tr>
              <td colspan="<%= @colspan %>">Shipping</td>
              <td><%= number_to_currency(@shipping_cost, unit: '€') %></td>
            </tr>
            <tr>
              <td colspan="<%= @colspan %>">21% VAT</td>
              <td><%= number_to_currency((@cart_price_total + @shipping_cost) * 0.21, unit: '€') %></td>
            </tr>
          <% end %>
          <tr>
          <% if params[:type] == "slip" %>
            <td>Total</td>
            <td><%= @cart_amount_total.to_s + "x" %></td>
          <% else %>
            <td colspan="<%= @colspan %>"><b>Total</b></td>
            <td><%= number_to_currency(((@cart_price_total + @shipping_cost) * 1.21), unit: '€') %></td>
          <% end %>
          </tr>
        </tbody>
      </table>
    </div>
</div>

<% if params[:type] == 'slip' %>
  <div class="well well-large">
    <div class="row">
    <table class="table table-striped">
        <thead>
        </thead>
        <tbody>
          <div class="col-xs-6 col-md-4 col-md-offset-2">
            <strong>Signature sender</strong>
            <p style="margin-top:50px">
              ____________________
            </p>
          </div>
          <div class="col-xs-6 col-md-4 col-md-offset-2">
            <strong>Signature addressee</strong>
            <p style="margin-top:50px">
              ____________________
            </p>
          </div>
        </tbody>
      </table>
    </div>
  </div>
<% end %>