<% provide(:title, "Invoice") %>
<% breadcrumb :invoice, @invoice %>

<div class="well well-large">
  <div class="row">
    <div class="col-xs-6 col-md-4 col-md-offset-2">
      <strong>Sender</strong>
      <p>
        TVA Service Center<br>
		    Twentelaan 2<br>
		    7609 RE Almelo<br>
		    Netherlands<br>
		    +31 546 851212
      </p>
    </div>
    <div class="col-xs-6 col-md-4 col-md-offset-2">
      <strong>Addressee</strong>
      <p>
        <%= @user.name %><br>
		    <%= @user.street %><br>
		    <%= @user.postal_code + " " + @user.city %><br>
        <%= @country.name %><br>
		    <%= @user.phone_number %>
      </p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-4">
      <dl class="dl-horizontal dl-misc">
        <dt>Date</dt>
        <dd><%= @invoice.created_at.to_date %></dd>
      </dl>
    </div>
  </div>

  <hr>

  <div class="row">
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Type</th>
            <% if params[:type] != "slip" %>
              <th>Price</th>
              <th>Amount</th>
            <% end %>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
        <% if params[:type] == "slip" %>
          <% @cart_items.each do |item| %>
            <tr>
              <td><%= item.part.name %></td>
              <td><%= item.amount.to_s + "x" %></td>
            </tr>
          <% end %>
        <% else %>
          <% @cart_items.each do |item| %>
            <tr>
              <td class="width40"><%= item.part.name %></td>
              <td class="width20"><%= number_to_currency((item.price_sale || item.price), unit: '€') %></td>
              <td class="width20"><%= item.amount.to_s + "x" %></td>
              <td class="width20"><%= number_to_currency((item.price_sale || item.price) * item.amount, unit: '€') %></td>
            </tr>
          <% end %>
        <% end %>
        <tr>
          <td colspan="4" style="height: 38px;"></td>
        </tr>
          <% if params[:type] != "slip" %>
            <tr>
              <td colspan="3">Shipping</td>
              <td><%= number_to_currency(@shipping_cost, unit: '€') %></td>
            </tr>
            <tr>
              <td colspan="3">21% BTW</td>
              <td><%= number_to_currency((@cart_price_total + @shipping_cost) * 0.21, unit: '€') %></td>
            </tr>
          <% end %>
          <tr>
          <% if params[:type] == "slip" %>
            <td>Total</td>
            <td><%= @cart_amount_total.to_s + "x" %></td>
          <% else %>
            <td colspan="3"><b>Total</b></td>
            <td><%= number_to_currency((@cart_price_total + @shipping_cost) * 1.21, unit: '€') %></td>
          <% end %>
          </tr>
        </tbody>
      </table>
    </div>
</div>

<% if params[:type] == 'slip' %>
  <div class="well well-large">
    <div class="row">
    <table class="table table-striped">
        <thead>
        </thead>
        <tbody>
          <div class="col-xs-6 col-md-4 col-md-offset-2">
            <strong>Signature sender</strong>
            <p style="margin-top:50px">
              ____________________
            </p>
          </div>
          <div class="col-xs-6 col-md-4 col-md-offset-2">
            <strong>Signature addressee</strong>
            <p style="margin-top:50px">
              ____________________
            </p>
          </div>
        </tbody>
      </table>
    </div>
  </div>
<% end %>