<% provide(:title, "Orders") %>
<% breadcrumb :status, @status %>
<div class="panel-body panel-table">
  <% if @carts.length == 0 %>
    <p class="empty_list">
      <%= "There are no orders here" %>
    </p>
  <% else %>
      <div class="table-responsive">
        <table class="table table-striped table-hover borderGray">
          <thead>
            <tr>
              <th><b>Id</b></th>
              <th><b>Order for</b></th>
              <th><b>Order made at</b></th>
              <th><b>Delivery method</b></th>
              <th><b>Total actions</b></th>
              <th><b>Actions needed from</b></th>
              <th class="small-col"></th>
              <th class="small-col"></th>
            </tr>
          </thead>
          <tbody>
            <% @carts.each do |cart| %>
              <tr>
                <% cart_item_ids = [] %>
                <% cart.cart_items.each do |item| %>
                  <% cart_item_ids << item.id %>
                <% end %>
                <% deliveries = Delivery.where(cart_item_id: cart_item_ids) %>
                <td><%= cart.id %></td>
                <td><%= User.find(cart.user_id).name %></td>
                <td><%= cart.order_made_at.localtime.strftime("%Y-%m-%d %H:%M:%S") %></td>
                <td><%= cart.delivery_method %></td>
                <td><%= deliveries.length %></td>
                <td>
                  <% Delivery.where(cart_item_id: cart_item_ids).select("distinct shipping_from_location").each do |delivery| %>
                    <%= Location.find(delivery.shipping_from_location).street + ', ' + Location.find(delivery.shipping_from_location).postal_code + ' ' + Location.find(delivery.shipping_from_location).city %><br>
                  <% end %>
                </td>
                <td>
                  <% if params[:user].blank? %>
                    <%= link_to cart_status_deliveries_path(params[:id], cart: cart.id) do %>
                      <span class="glyphicon glyphicon-search" title="Show"></span>
                    <% end %>
                  <% else %>
                    <%= link_to cart_status_deliveries_path(params[:id], cart: cart.id, user: params[:user]) do %>
                      <span class="glyphicon glyphicon-search" title="Show"></span>
                    <% end %>
                  <% end %>
                </td>
                <td>
                  <a href="#" data-toggle="modal" data-target="#role-options-<%= cart.id %>" type="button"><span class="glyphicon glyphicon-pencil"></span></a>
                  <div id="role-options-<%= cart.id %>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel-cart-<%= cart.id%>" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <%= bootstrap_form_for cart, url: user_cart_path(cart.user_id, cart), html: { method: :put, class: 'form-horizontal' } do |f| %>
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="modalLabel-cart-<%= cart.id%>">Change status of order <%= cart.id %></h4>
                          </div>
                          <div class="modal-body">
                            <%= f.label :role %>
                            <%= collection_select :cart, :cart_status_id, CartStatus.where.not(name: "In progress"), :id, :name, { selected: cart.cart_status_id }, { class: 'form-control width50' } %>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><%= "Close" %></button>
                            <%= f.submit "Change status", class: "btn btn-primary btn-sm" %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  <% end %>
</div>