<% provide(:title, 'Edit device') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= bootstrap_form_for(@device) do |f| %>
      <%= f.alert_message "Please fix the errors below." %>
    	
      <%= f.text_field :name, label: 'Device' %>

      <%= f.submit "Edit device", class: "btn btn-primary" %>
      <br><br>
      <%= link_to("Cancel", :back, class: "btn btn-primary") %>
    <% end %>
  </div>
</div>