<% provide(:title, "Devices") %>
<% breadcrumb :devices, @devices %>
  <div class="panel-body panel-table">
    <% if @devices.length == 0 %>
      <p class="empty_list">
        <%= "De lijst is leeg" %>
      </p>
    <% else %>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="small-col"><%= "Id" %></th>
              <th><%= "Device name" %></th>
              <th class="small-col"></th>
              <% if logged_in? && current_user.manager? %>
                <th class="small-col"></th>
                <th class="small-col"></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @devices.each do |device| %>
              <tr>
                <td><%= device.id %></td>
                <td><%= device.name.titleize %></td>
                <td>
                  <%= link_to device_products_path(device) do %>
                    <span class="glyphicon glyphicon-search"></span>
                  <% end %>
                </td>
                <% if logged_in? && current_user.manager? %>
                  <td>
                    <%= link_to edit_device_path(device) do %>
                      <span class="glyphicon glyphicon-pencil"></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to(device_path(device), :data => { :confirm => "Are you sure?" }, :method => :delete) do %>
                      <span class="glyphicon glyphicon-remove"></span>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
  <div class="panel-footer">
    <% if logged_in? && current_user.manager? %>
      <%= link_to("Add device", new_device_path, :class => 'btn btn-mini btn-primary') %>
    <% end %>
  </div>
