<% provide(:title, "Devices") %>
<h2>Devices</h2>
  <div class="panel-body panel-table">
    <% if @device.length == 0 %>
      <p class="empty_list">
        <%= "De lijst is leeg" %>
      </p>
    <% else %>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="small-col"><%= "Id" %></th>
              <th><%= "Device name" %></th>
              <th class="small-col"></th>
              <th class="small-col"></th>
              <th class="small-col"></th>
            </tr>
          </thead>
          <tbody>
            <% @device.each do |device| %>
              <tr>
                <td><%= device.id %></td>
                <td><%= device.name.titleize %></td>
                <td>
                  <%= link_to device_products_path(device) do %>
                    <span class="glyphicon glyphicon-search"></span>
                  <% end %>
                </td>
                <td>
                  <%= link_to edit_device_path(device) do %>
                    <span class="glyphicon glyphicon-pencil"></span>
                  <% end %>
                </td>
                <td>
                  <%= link_to(device_path(device), :data => { :confirm => "Are you sure?" }, :method => :delete) do %>
                    <span class="glyphicon glyphicon-remove"></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
    <%= link_to("Add device", new_device_path, :class => 'btn btn-mini btn-primary') %>
  </div>
