<% provide(:title, 'New device') %>
<% breadcrumb :devices, @devices %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= bootstrap_form_for(@device) do |f| %>
      <%= f.alert_message "Please fix the errors below." %>
    	
      <%= f.text_field :name, label: 'Device' %>

      <%= f.submit "Add device", class: "btn btn-primary" %>
      <%= link_to("Cancel", devices_path, class: "btn btn-primary") %>
    <% end %>
  </div>
</div>