<% provide(:title, 'New image') %>
<% breadcrumb :partimages, @partimages %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= bootstrap_form_for(@partimage, :url => device_product_category_part_partimages_path(params[:device_id], params[:product_id], params[:category_id], params[:part_id]), html: { multipart: true }) do |f| %>
      <%= f.alert_message "Please fix the errors below." %>
      
      <%= f.file_field :pimg, class: "big", label: "Part image" %>

      <%= f.submit "Add image", class: "btn btn-primary" %>
      <%= link_to("Cancel", device_product_category_part_partimages_path(params[:device_id], params[:product_id], params[:category_id], params[:part_id]), class: "btn btn-primary") %>
    <% end %>
  </div>
</div>