<% provide(:title, 'Edit settings') %>
<% breadcrumb :user, @user %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= bootstrap_form_for(@user) do |f| %>
      <%= f.alert_message "Error" %>

      <%= f.text_field :name %>
      <%= f.email_field :email %>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Edit settings", class: "btn btn-primary" %>
      <%= link_to("Cancel", root_path, class: "btn btn-primary") %>
    <% end %>
  </div>
</div>