<% provide(:title, 'Sign up') %>
<% breadcrumb :users, @user %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= bootstrap_form_for(@user) do |f| %>
      <%= f.alert_message "Please fix the errors below." %>

      <%= f.text_field      :name,    placeholder: "e.g. Dennis Lop", autofocus: true %>
      <%= f.email_field     :email,   placeholder: "e.g. Example@Example.com" %>
      <%= f.text_field      :street,  placeholder: "e.g. Twentelaan 2" %>
      <%= f.text_field      :city,    placeholder: "e.g. Almelo" %>

      <%= f.label           :country %>
      <%= f.country_select  :country,  {}, { class: "form-control" } %>
      <%= f.text_field      :postal_code, placeholder: "e.g. 7609 RE" %>
      <%= f.text_field      :phone_number %>
      <%= f.password_field  :password %>
      <%= f.password_field  :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>