<% provide(:title, @user.name) %>
<% breadcrumb :user, @user %>
<div class="row">
  <aside class="col-md-12">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <h1 class="col-md-12" style="text-align: left; padding-left: 15px">Purchase history</h1>
  <% if @invoices.length == 0 %>
    <p class="empty_list" style="padding-left: 15px">
      <%= "There is no history to be found  " %>
    </p>
  <% else %>
    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th class="small-col">Id</th>
            <th>Client</th>
            <th>Purchase date</th>
            <th class="small-col"></th>
            <th class="small-col"></th>
            <% if current_user.manager? %>
              <th class="small-col"></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @invoices.each do |invoice| %>
            <tr>
              <td><%= invoice.id %></td>
              <td><%= invoice.user.name %></td>
              <td><%= invoice.created_at.localtime %></td>
              <td>
                <%= link_to user_invoice_path(@user, invoice, :type => 'slip') do %>
                  <span class="glyphicon glyphicon-send"></span>
                <% end %>
              </td>
              <td>
                <%= link_to user_invoice_path(@user, invoice) do %>
                  <span class="glyphicon glyphicon-euro"></span>
                <% end %>
              </td>
              <% if current_user.manager? %>
                <td>
                  <%= link_to user_invoice_path(@user, invoice), :data => { :confirm => "Are you sure?" }, :method => :delete do %>
                    <span class="glyphicon glyphicon-remove"></span>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% unless @invoices.length == 0 %>
        <%= paginate @invoices %>
      <% end %>
  <% end %>        
