<% provide(:title, "Coupons") %>
<% breadcrumb :coupons, @coupons %>

<div class="panel-body panel-table">
  <% if @coupons.length == 0 %>
    <p class="empty_list">
      <%= "There are no coupons" %>
    </p>
  <% else %>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr class="active">
            <th>Id</th>
            <th>Code</th>
            <th>Category</th>
            <th>Part</th>
            <th>User</th>
            <th>Amount</th>
            <th>Percent</th>
            <th>Price</th>
            <th>Expiration date</th>
            <th class="small-col"></th>
            <th class="small-col"></th>
          </tr>
        </thead>
        <tbody>
        	<% @coupons.each do |coupon| %>
	        	<tr>
	        		<td><%= coupon.id %></td>
	        		<td><%= coupon.code %></td>
              <% if !coupon.category_ids.blank? %>
	        		  <td>
                  <% coupon.category_ids.each do |category_id| %>
                    <%= "<ins class='noTextDecoration' title='#{Category.exists?(category_id) ? Category.find(category_id).name : 'Category does not exist'}''>#{category_id}</ins>".html_safe %>
                  <% end %>
                </td>
              <% else %>
                <td></td>
              <% end %>
	        		<% if !coupon.part_ids.blank? %>
                <td>
                  <% coupon.part_ids.each do |part_id| %>
                    <%= "<ins class='noTextDecoration' title='#{Part.exists?(part_id) ? Part.find(part_id).name : 'Part does not exist'}'>#{part_id}</ins>".html_safe %>
                  <% end %>
                </td>
              <% else %>
                <td></td>
              <% end %>
	        		<% if !coupon.user_ids.blank? %>
                <td>
                  <% coupon.user_ids.each do |user_id| %>
                    <%= "<ins class='noTextDecoration' title='#{User.exists?(user_id) ? User.find(user_id).name : 'User does not exist'}'>#{user_id}</ins>".html_safe %>
                  <% end %>
                </td>
              <% else %>
                <td></td>
              <% end %>
	        		<td><%= coupon.amount %></td>
	        		<td><%= coupon.percent %></td>
	        		<td><%= coupon.price %></td>
              <td><%= coupon.expiration_date %></td>
	        		<td>
	        			<%= link_to edit_coupon_path(coupon) do %>
                  <span class="glyphicon glyphicon-pencil" title="Edit"></span>
                <% end %>
	        		</td>
	        		<td>
	        			<%= link_to coupon_path(coupon), data: { confirm: "Are you sure?" }, method: :delete do %>
                  <span class="glyphicon glyphicon-remove" title="Delete"></span>
                <% end %>
	        		</td>	
	        	</tr>
        	<% end %>
      	</tbody>
    	</table>
  	</div>
	<% end %>
</div>
<div class="panel-footer">
	<% if logged_in? && current_user.manager? %>
	  <%= link_to("Add coupon", new_coupon_path, class: 'btn btn-mini btn-primary') %>
	<% end %>
</div>
