<% provide(:title, "Invoices") %>
<% breadcrumb :invoices, @invoices %>
<div class="panel-body panel-table">
  <% if @invoices.length == 0 %>
    <p class="empty_list">De lijst is leeg</p>    
  <% else %>
    <table class="table table-striped table-hover borderGray">
      <thead>
        <tr>
          <th class="small-col"><b>#</b></th>
          <th><b>Client</b></th>
          <th><b>Purchase date</b></th>
          <th class="small-col"></th>
          <th class="small-col"></th>
          <th class="small-col"></th>
        </tr>
      </thead>
      <tbody>
        <% @invoices.each do |invoice| %>
          <tr>
            <td><%= invoice.cart_id %></td>
            <td>
              <%= link_to user_path(invoice.user_id) do %>
                <%= invoice.user.name %>
              <% end %>
            </td>
            <td><%= invoice.created_at %></td>
            <td>
              <%= link_to user_invoice_path(invoice.user.id, invoice, type: 'slip') do %>
                <span class="glyphicon glyphicon-send"></span>
              <% end %>
            </td>
            <td>
              <%= link_to user_invoice_path(invoice.user.id, invoice) do %>
                <span class="glyphicon glyphicon-euro"></span>
              <% end %>
            </td>
            <td>
              <%= link_to user_invoice_path(invoice.user.id, invoice), data: { confirm: "Are you sure?" }, method: :delete do %>
                <span class="glyphicon glyphicon-remove"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
<div class="panel-footer noPadding">
  <% unless (paginate @invoices).blank? %>
    <%= paginate @invoices %><br>
  <% end %>
</div>