<% provide :title, "results for " + @query %>
<% breadcrumb :search %>
<% if @part_results.count == 0 && @category_results.count == 0 && @product_results.count == 0 %>
	<p>No results found</p>
<% else %>
		<h2>Showing search results for "<%= @query %>"</h2>
	<% if @part_results.total_count == 0 %>
		<div class="col-sm-12 col-md-8 borderBlack" >
			<h4><%= @part_results.total_count %> <%= "Part".pluralize(@part_results.total_count) %> found</h4>
			<p>No results found</p>
		</div>
	<% else %>
		<div class="col-sm-12 col-md-8 borderBlack" >
		<h4><%= @part_results.total_count %> <%= "Part".pluralize(@part_results.total_count) %> found</h4>
		<div class="table-responsive">
        <table class="table table-hover">
        	<thead>
            <th>Description</th>
            <th></th>
            <% if logged_in? %>
	          	<th>Stock</th>
	          	<th>Price</th>
            <% end %>
          </thead>
          <tbody>
            <% @part_results.each do |part_result| %>
              <tr>
                <td class="col-sm-5">
                  <div class="title">
                    <%= link_to device_product_category_part_path(part_result.category.product.device.id, part_result.category.product.id, part_result.category.id, part_result.id) do %>
											<%= part_result.name %>
										<% end %>
                  </div>
                  <table>
                    <tbody>
                    	<tr>
                    		<td><small>Category: </small></td>
                    		<td><small><%= part_result.category.name %></small></td>
                    	</tr>
                      <tr>
                        <td><small>Brand: </small></td>
                        <td><small><%= part_result.brand %></small></td>
                      </tr>
                      <tr>
                        <td class="paddingR20"><small>Condition: </small></td>
                        <td><small><%= part_result.condition %></small></td>
                      </tr>
                      <tr>
                        <td><small>Warranty: </small></td>
                        <td><small><%= part_result.warranty %></small></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td>
                  <a 
                  	<% if !part_result.partimagefull_file_name.nil? %> 
                  		href=<%= part_result.partimagefull.url %>
                  	<% end %>
                  >
                  	<div class="col-md-6 width66px noPadding">
	                    <%= image_tag part_result.partimagefull.url(:thumb), class: "borderGray" %>
	                  	<% if !part_result.partimagefull_file_name.nil? %>
                        <div class="bottomRight"><span class="glyphicon glyphicon-search"></span></div>
                      <% end %>
                  	</div>
                  </a>
                </td>
                <% if logged_in? %>
	                <% if part_result.stock == 0 %>
	                  <td><p class="red"><%= "Out of stock" %><p></td>
	                <% else %>
	                  <td><%= part_result.stock %></td>
	                <% end %>
	                <td><%= number_to_currency(DiscountPrice.where(part_id: part_result.id, amount: 1).first.price, unit: "€") %></td>
	                <td>
                      <%= render :partial => "cart_modal", :locals => {:part => part_result }%>
                  </td>
	              <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% unless @part_results.total_count == 0 %>
      <%= paginate @part_results, :window => 2, :param_name => :part_page %>
    <% end %>
		</div>
	<% end %>

	<div class="col-md-3 col-md-offset-1">
		<div class="row">
			<% if @category_results.total_count == 0 %>
				<div class="col-sm-12 borderBlack" >
					<h4><%= @category_results.total_count %> <%= "Category".pluralize(@category_results.total_count) %> found</h4>
					<p>No results found</p>
				</div>
			<% else %>
				<div class="col-sm-12 borderBlack" >
					<h4><%= @category_results.total_count %> <%= "Category".pluralize(@category_results.total_count) %> found</h4>
					<ol class="noPadding" style="list-style-type:none;">	
						<% @category_results.each do |category_result| %>
							<li>
								<%= link_to parts_path(:category_id => category_result.id) do %>
									<%= category_result.name %>
							</li>
							<% end %>
						<% end %>
					</ol>
					<% unless @category_results.total_count == 0 %>
      			<%= paginate @category_results, :window => 2, :param_name => :category_page %>
    			<% end %>
				</div>
			<% end %>
		</div>

		<div class="row">
			<% if @product_results.total_count == 0 %>
				<div class="col-sm-12 borderBlack" >
					<h4><%= @product_results.total_count %> <%= "Product".pluralize(@product_results.total_count) %> found</h4>
					<p>No results found</p>
				</div>
			<% else %>
				<div class="col-sm-12 borderBlack" >
					<h4><%= @product_results.total_count %> <%= "Product".pluralize(@product_results.total_count) %> found</h4>
					<ol class="noPadding" style="list-style-type:none;">
						<% @product_results.each do |product_result| %>
							<li>
								<%= link_to device_product_categories_path(product_result.device.id, product_result.id) do %>
									<% if !product_result.model_extended.blank? %>
										<%= product_result.model_extended %>
									<% else %>
										<%= product_result.model %>
									<% end %>
								<% end %>
							</li>
						<% end %>
					</ol>
					<% unless @product_results.total_count == 0 %>
      			<%= paginate @product_results, :window => 2, :param_name => :product_page %>
    			<% end %>
				</div>
			<% end %>
		</div>
<% end %>
	

	

			