<% provide :title, "results for " + @query %>
<% breadcrumb :search %>
<% if @part_results.count == 0 && @category_results.count == 0 && @product_results.count == 0 %>
	<p>No results found</p>
<% else %>
		<h2>Showing search results for "<%= @query %>"</h2>
	<% if @part_results.total_count == 0 %>
		<div class="col-sm-12 col-md-7 borderBlack" >
			<h4><%= @part_results.total_count %> <%= "Part".pluralize(@part_results.total_count) %> found</h4>
			<p>No results found</p>
		</div>
	<% else %>
		<div class="col-sm-12 col-md-7 borderBlack" >
		<h4><%= @part_results.total_count %> <%= "Part".pluralize(@part_results.total_count) %> found</h4>
		<div class="table-responsive">
        <table class="table table-hover">
        	<thead>
            <th>Description</th>
            <th></th>
            <% if logged_in? %>
            	<th class="small-col"></th>
	          	<th class="center">Stock</th>
	          	<th class="center">Price</th>
	          	<th></th>
            <% end %>
          </thead>
          <tbody>
            <% @part_results.each do |part_result| %>
              <tr>
                <td class="col-sm-5">
                  <div class="title">
                    <%= link_to part_path(part_id: part_result.id, part_page: params[:part_page], category_page: params[:category_page], product_page: params[:product_page], search_query: params[:search_query]) do %>
											<%= part_result.name %>
										<% end %>
                  </div>
                  <table>
                    <tbody>
                    	<tr>
                    		<td><small>Category: </small></td>
                    		<td><small><%= part_result.category.name %></small></td>
                    	</tr>
                      <tr>
                        <td><small>Brand: </small></td>
                        <td><small><%= part_result.brand %></small></td>
                      </tr>
                      <tr>
                        <td class="paddingR20"><small>Condition: </small></td>
                        <td><small><%= part_result.condition %></small></td>
                      </tr>
                      <tr>
                        <td><small>Warranty: </small></td>
                        <td><small><%= part_result.warranty.blank? ? 'None' : part_result.warranty %></small></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td>
                  <a 
                  	<% if !part_result.partimagefull_file_name.nil? %> 
                  		href=<%= part_result.partimagefull.url %>
                  	<% end %>
                  >
                  	<div class="col-md-6 width66px noPadding">
	                    <%= image_tag part_result.partimagefull.url(:thumb), class: "borderGray" %>
	                  	<% if !part_result.partimagefull_file_name.nil? %>
                        <div class="bottomRight"><span class="glyphicon glyphicon-search"></span></div>
                      <% end %>
                  	</div>
                  </a>
                </td>
                <% if logged_in? %>
	                <td>
	                  <%= render partial: "parts/tell_a_friend_modal", locals: { part: part_result } %>
	                </td>
	                <% if PartStock.where(part_id: part_result.id).sum('stock') == 0 %>
	                  <td class="center">
	                  	<p class="red bottom-none">Out of stock</p>
	                  	<%= bootstrap_form_for @reminder, url: user_reminders_path(current_user), html: { class: 'form-horizontal' } do |f| %>
                        <%= f.hidden_field :part_id, value: part_result.id %>
                        <%= f.hidden_field :user_id, value: current_user.id %>

                        <%= f.submit "Remind me", class: 'btn btn-link btn-xs', style: 'padding: 4px; width: auto;', title: 'Sends you an email when the product is back in stock' %>
                      <% end %>
	                  </td>
	                <% else %>
	                  <td class="center"><%= PartStock.where(part_id: part_result.id).sum('stock') %></td>
	                <% end %>
	                <td class="center">
	                	<% if PartAction.find_by(part_id: part_result.id).nil? %>
                      <%= number_to_currency(DiscountPrice.where(part_id: part_result.id, amount: 1).first.price, unit: "€") %><br>
                    <% else %>
                      <span class="background"><%= number_to_currency(DiscountPrice.where(part_id: part_result.id, amount: 1).first.price, unit: "€") %></span>
                      <%= number_to_currency(PartAction.find_by(part_id: part_result.id).price, unit: "€") %><br>
                    <% end %>
                    <small class="font-size-9">Excl 21% VAT</small>
	                </td>
	                <td class="center">
                      <%= render partial: "cart_modal", locals: {part: part_result }%>
                  </td>
	              <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% unless @part_results.total_count == 0 %>
      	<%= paginate @part_results, window: 2, param_name: :part_page %>
    	<% end %>
		</div>
	<% end %>

	<div class="col-md-4 col-md-offset-1">
		<div class="row">
			<% if @category_results.total_count == 0 %>
				<div class="col-sm-12 borderBlack" >
					<h4><%= @category_results.total_count %> <%= "Category".pluralize(@category_results.total_count) %> found</h4>
					<p>No results found</p>
				</div>
			<% else %>
				<div class="col-sm-12 borderBlack" >
					<h4><%= @category_results.total_count %> <%= "Category".pluralize(@category_results.total_count) %> found</h4>
					<ol class="noPadding noListStyle">	
						<% @category_results.each do |category_result| %>
							<li>
								<%= link_to parts_path(category_id: category_result.id, part_page: params[:part_page], category_page: params[:category_page], product_page: params[:product_page], search_query: params[:search_query]) do %>
									<%= category_result.name %>
							</li>
							<% end %>
						<% end %>
					</ol>
					<% unless @category_results.total_count == 0 %>
      			<%= paginate @category_results, window: 2, param_name: :category_page %>
    			<% end %>
				</div>
			<% end %>
		</div>

		<div class="row">
			<% if @product_results.total_count == 0 %>
				<div class="col-sm-12 borderBlack" >
					<h4><%= @product_results.total_count %> <%= "Product".pluralize(@product_results.total_count) %> found</h4>
					<p>No results found</p>
				</div>
			<% else %>
				<div class="col-sm-12 borderBlack" >
					<h4><%= @product_results.total_count %> <%= "Product".pluralize(@product_results.total_count) %> found</h4>
					<ol class="noPadding noListStyle">
						<% @product_results.each do |product_result| %>
							<li>
								<%= link_to device_product_categories_path(product_result.device.id, product_result.id) do %>
									<% if !product_result.model_extended.blank? %>
										<%= product_result.model_extended %>
									<% else %>
										<%= product_result.model %>
									<% end %>
								<% end %>
							</li>
						<% end %>
					</ol>
					<% unless @product_results.total_count == 0 %>
      			<%= paginate @product_results, window: 2, param_name: :product_page %>
    			<% end %>
				</div>
			<% end %>
		</div>
	</div>
<% end %>
<% if flash[:item_added] %>
  <%= render partial: "parts/cart_show_modal", locals: {cart: @cart, cart_items: @cart_items} %>
<% end %>


			