<% provide(:title, 'Edit price') %>
<% breadcrumb :discount_prices, @discount_price %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= bootstrap_form_for(@discount_price, :url => device_product_category_part_discount_price_path(params[:device_id], params[:product_id], params[:category_id], params[:part_id], params[:id])) do |f| %>
      <%= f.alert_message "Please fix the errors below." %>

      <% if @discount_price.amount != 1 %>
      	<%= f.text_field :amount, :autofocus => true %>
      <% else %>
      	<%= f.text_field :amount, :disabled => 'disabled' %>
      <% end %>
      <%= f.text_field :price %>

      <%= f.submit "Edit price", class: "btn btn-primary" %>
      <%= link_to("Cancel", device_product_category_part_path(params[:device_id], params[:product_id], params[:category_id], params[:part_id]), class: "btn btn-primary") %>
    <% end %>
  </div>
</div>