<% provide(:title, "Shopping Cart") %>
<% breadcrumb :carts, @carts %>
  <div class="panel-body panel-table">
    <% if @carts.length == 0 %>
      <p class="empty_list">
        <%= "U heeft geen items in uw winkelwagen" %>
      </p>
    <% else %>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr class="active">
              <th class="width60"><%= "Description" %></th>
              <th class="width10"><%= "Amount" %></th>
              <th class="small-col"></th>
              <th class="width10"><%= "Price" %></th>
              <th class="right width10"><%= "Total" %></th>
            </tr>
          </thead>
          <tbody>
            <% @carts.each do |cart| %>
              <tr>
                <td>
                  <%= link_to device_product_category_part_path(cart.part.category.product.device.id, cart.part.category.product.id,cart.part.category.id, cart.part.id) do %>
                    <%= image_tag cart.part.partimagefull.url(:thumb) %>
                    <b><%= cart.part.name %></b>
                  <% end %>
                </td>
                <td>
                  <%= text_field_tag "amount-#{cart.part_id}", {}, min: 1, max: cart.part.stock, :value => cart.amount, :class => "halfWidth amount", :data => { :user => current_user.id, :part => cart.part_id, :id => cart.id, :url => carts_path } %></td>
                <td>
                  <%= link_to cart_path(cart), :method => :delete do %>
                    <span class="glyphicon glyphicon-remove"></span>
                  <% end %>
                </td>
                <td><%= number_to_currency(cart.part.price_ex, unit: "€") %></td>
                <td class="right"><%= number_to_currency(cart.part.price_ex * cart.amount, unit: "€") %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr name="Subtotal" class="active borderless right">
              <td colspan="2"></td>
              <td colspan="2">Subtotaal excl. BTW</td>
              <% arr = Array.new(0) %>
                <td colspan="1">
                <% @carts.each do |cart| %>
                  <% arr.push(cart.part.price_ex * cart.amount) %>
                <% end %>
                <%= number_to_currency(arr.sum, unit: "€") %>
                </td>
            </tr>
            <tr class="right">
              <td colspan="2"></td>
              <td colspan="2"><h3>Verzendkosten</h3></td>
              <td colspan="1"><h3>€4.00</h3></td>
            </tr>
            <tr name="TotalNoBTW" class="right">
              <td colspan="2" class="borderless"></td>
              <td colspan="2">Totaal excl. BTW</td>
              <td colspan="1"><%= number_to_currency(arr.sum + 4, unit: "€") %></td>
            </tr>
            <tr name="BTW" class="right">
              <td colspan="2" class="borderless"></td>
              <td colspan="2" class="borderless"><h3>21% BTW</h3></td>
              <td colspan="1" class="borderless"><h3><%= number_to_currency((arr.sum + 4) * 0.21, unit: "€") %></h3></td>
            </tr>
            <tr class="right">
              <td colspan="2" class="borderless"</td>
              <td colspan="2">Totaal incl. BTW</td>
              <td colspan="1"><%= number_to_currency((arr.sum + 4) * 1.21, unit: "€") %></td>
            </tr>
          </tfoot>
        </table>
      </div>
      <button type="button" id="purchase" class="btn btn-primary" data-user-id="<%= current_user.id %>" data-cart-ids="<%= @carts.ids %>" data-url="purchase" style="float: right">Purchase</button>
    <% end %>
  </div>
  <div class="panel-footer">
  </div>
