<% provide(:title, "Shopping Cart") %>
<% breadcrumb :carts, @cart %>
  <div class="panel-body panel-table">
    <% if @cart_items.length == 0 %>
      <p class="empty_list">
        <%= "U heeft geen items in uw winkelwagen" %>
      </p>
    <% else %>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr class="active">
              <th class="width60"><%= "Description" %></th>
              <th class="width10"><%= "Amount" %></th>
              <th class="small-col"></th>
              <th class="width10"><%= "Price" %></th>
              <th class="right width10"><%= "Total" %></th>
            </tr>
          </thead>
          <tbody>
            <% @cart_items.each do |cart_item| %>
              <tr>
                <td>
                  <%= link_to device_product_category_part_path(cart_item.part.category.product.device.id, cart_item.part.category.product.id, cart_item.part.category.id, cart_item.part.id) do %>
                    <%= image_tag cart_item.part.partimagefull.url(:thumb) %>
                    <b><%= cart_item.part.name %></b>
                  <% end %>
                </td>
                <td>
                  <%= text_field_tag "amount-#{cart_item.part_id}", {}, min: 1, max: cart_item.part.stock, :value => cart_item.amount, :class => "halfWidth amount", :data => { :cart => cart_item.cart.id, :part => cart_item.part_id, :id => cart_item.id, :url => user_cart_cart_item_path(current_user, cart_item.cart.id, cart_item) } %></td>
                <td>
                  <%= link_to user_cart_cart_item_path(params[:user_id], Cart.where(user_id: current_user.id, purchased: false).first.id, cart_item), :method => :delete do %>
                    <span class="glyphicon glyphicon-remove"></span>
                  <% end %>
                </td>
                <td><%= number_to_currency(cart_item.part.price_ex, unit: "€") %></td>
                <td class="right">
                  <%= number_to_currency(cart_item.part.price_ex * cart_item.amount, unit: "€") %>
                </td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr name="Subtotal" class="active borderless right">
              <td colspan="2"></td>
              <td colspan="2">Subtotaal excl. BTW</td>
              <% arr = Array.new(0) %>
                <td colspan="1">
                <% @cart_items.each do |cart_item| %>
                  <% arr.push(cart_item.part.price_ex * cart_item.amount) %>
                <% end %>
                <%= number_to_currency(arr.sum, unit: "€") %>
                </td>
            </tr>
            <tr class="right">
              <td colspan="2"></td>
              <td colspan="2"><h3>Verzendkosten</h3></td>
              <td colspan="1"><h3><%= number_to_currency(@shipping_cost, unit: "€") %></h3></td>
            </tr>
            <tr name="TotalNoBTW" class="right">
              <td colspan="2" class="borderless"></td>
              <td colspan="2">Totaal excl. BTW</td>
              <td colspan="1"><%= number_to_currency(arr.sum + @shipping_cost, unit: "€") %></td>
            </tr>
            <tr name="BTW" class="right">
              <td colspan="2" class="borderless"></td>
              <td colspan="2" class="borderless"><h3>21% BTW</h3></td>
              <td colspan="1" class="borderless"><h3><%= number_to_currency((arr.sum + @shipping_cost) * 0.21, unit: "€") %></h3></td>
            </tr>
            <tr class="right">
              <td colspan="2" class="borderless"</td>
              <td colspan="2">Totaal incl. BTW</td>
              <td colspan="1"><%= number_to_currency((arr.sum + @shipping_cost) * 1.21, unit: "€") %></td>
            </tr>
          </tfoot>
        </table>
      </div>
      <%= link_to("Add Coupon", edit_user_cart_path(current_user, @cart), class: "btn btn-primary") %>
      <button type="button" id="purchase" class="btn btn-primary" data-user-id="<%= current_user.id %>" data-cart-id="<%= @cart.id %>" data-url="<%= purchase_path %>" style="float: right">Purchase</button>
    <% end %>
  </div>
  <div class="panel-footer">
  </div>