<% provide(:title, 'Edit category') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= bootstrap_form_for(@category) do |f| %>
      <%= f.alert_message "Please fix the errors below." %>

      <%= f.select(:product_id, Product.order('id ASC').uniq.pluck(:device, :id) {|u| [u.device, u.id]}, { include_blank: true}) %>
      <%= f.text_field :name %>

      <%= f.submit "Edit category", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>