<% provide(:title, "Categories") %>
<h2>Categories</h2>
  <div class="panel-body panel-table">
    <% if @categories.length == 0 %>
      <p class="empty_list">
        <%= "De lijst is leeg" %>
      </p>
    <% else %>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th><%= "Product id" %></th>
              <th><%= "Device name" %></th>
              <th><%= "Name" %></th>
              <th class="small-col"></th>
              <th class="small-col"></th>
              <th class="small-col"></th>
            </tr>
          </thead>
          <tbody>
            <% @categories.each do |category| %>
              <tr>
                <td><%= category.product_id %></td>
                <td><%= category.product.device.name.titleize %></td>
                <td><%= category.name %></td>
                <td>
                  <%= link_to device_product_category_parts_path(params[:device_id], params[:product_id], category) do %>
                    <span class="glyphicon glyphicon-search"></span>
                  <% end %>
                </td>
                <td>
                  <%= link_to edit_device_product_category_path(params[:device_id], params[:product_id], category) do %>
                    <span class="glyphicon glyphicon-pencil"></span>
                  <% end %>
                </td>
                <td>
                  <%= link_to device_product_category_path(params[:device_id], params[:product_id], category), :data => { :confirm => "Are you sure?" }, :method => :delete do %>
                    <span class="glyphicon glyphicon-remove"></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
    <%= link_to("Add category", new_device_product_category_path, :class => 'btn btn-mini btn-primary') %>
  </div>
