<% provide(:title, "Products") %>
<h2>Products</h2>
  <div class="panel-body panel-table">
    <% if @products.length == 0 %>
      <p class="empty_list">
        <%= "De lijst is leeg" %>
      </p>
    <% else %>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="small-col"><%= sortable "id" %></th>
              <th><%= sortable "device" %></th>
              <th><%= sortable "brand" %></th>
              <th><%= sortable "model" %></th>
              <th><%= sortable "model_serial", "Model serial" %></th>
              <th class="small-col"></th>
              <th class="small-col"></th>
              <th class="small-col"></th>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |product| %>
              <tr>
                <td><%= product.id %></td>
                <td><%= product.device.name.titleize %></td>
                <td><%= product.brand %></td>
                <td><%= product.model %></td>
                <td><%= product.model_serial %></td>
                <td>
                  <%= link_to device_product_categories_path(params[:device_id], product) do %>
                    <span class="glyphicon glyphicon-search"></span>
                  <% end %>
                </td>
                <td>
                  <%= link_to edit_device_product_path(params[:device_id], product) do %>
                    <span class="glyphicon glyphicon-pencil"></span>
                  <% end %>
                </td>
                <td>
                  <%= link_to(device_product_path(params[:device_id], product), :data => { :confirm => "Are you sure?" }, :method => :delete) do %>
                    <span class="glyphicon glyphicon-remove"></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
    <%= link_to("Add product", new_device_product_path, :class => 'btn btn-mini btn-primary') %>
  </div>
