<div id="alert-box" style="margin-top: 10px;">
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <% if name == "success" %>
        <div class="alert alert-success">
          <a class="close" data-dismiss="alert">&#215;</a>
          <div id="flash_<%= name %>">
            <span class="glyphicon glyphicon-ok"></span>
           <%= '  ' + msg %>
          </div>
          <% flash.delete(name) %>
        </div>
      <% elsif name == "notice" %>
        <div class="alert alert-danger">
          <a class="close" data-dismiss="alert">&#215;</a>
          <div id="flash_<%= name %>">
            <span class="glyphicon glyphicon-remove"></span>
           <%= '  ' + msg %>
          </div>
          <% flash.delete(name) %>
        </div>
      <% elsif name == "info" %>
        <div class="alert alert-info">
          <a class="close" data-dismiss="alert">&#215;</a>
          <div id="flash_<%= name %>">
           <%= msg %>
          </div>
          <% flash.delete(name) %>
        </div>
      <% elsif name == "half_notice" %>
       <div class="alert alert-danger col-md-6 col-md-offset-3">
          <a class="close" data-dismiss="alert">&#215;</a>
          <div id="flash_<%= name %>">
            <%= msg %>
          </div>
          <% flash.delete(name) %>
        </div>
      <% end %>
    <% elsif msg.is_a?(Array) %>
      <% if name = "danger" %>
        <div class="alert alert-danger">
          <a class="close" data-dismiss="alert">&#215;</a>
          <div id="flash_<%= name %>">
            <% msg.each do |message| %>
              <%= '  ' + message %><br>
            <% end %>
          </div>
          <% flash.delete(name) %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
